<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu Item</title>
</head>
<body>
<h1>Edit a New Menu Item</h1>

<form action="{{ url_for('menu_item_edit',restaurant_id=restaurant_id, menu_item_id=menu_item.get('id')) }}", method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" size="40" value={{menu_item.get("name")}}>
    <br>
    <label for="course">Course</label>
    <input type="text" id="course" name="course" size="20" value={{menu_item.get("course")}}>
    <br>

    <label for="price">Price</label>
    <input type="text" id="price" name="price" size="10" value={{menu_item.get("price")}}>
    <br>

    <label for="descripton">Description</label>
    <textarea id="descripton" name="description" rows="4" cols="40">
        {{menu_item.get("description")}}
    </textarea>

    <br>

    <button type="submit" value="Submit">Submit</button>
    <button type="button" onclick="window.location.href='{{url_for('restaurant_menu',restaurant_id=restaurant_id)}}'; ">Cancel</button>
</form>
</body>
</html>