<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{restaurant_name}} - Menu</title>
</head>
<body>
<h1>{{restaurant.name}} - Menu</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for m in messages %}
    <h3> {{m}}</h3>
    {% endfor %}

    {% endif %}
    {% endwith %}


<ul>
    {% if not menu %}
    <p>There are no items in the menu</p>
    {% else %}
    {% for item in menu %}
    <li>
        {{ item.name }}
        {{ item.description }}
        {{ item.course }}
        {{ item.price }}
    </li>


    <button type="button"
            onclick="window.location.href = '{{url_for('menu_item_edit',restaurant_id=restaurant.id, menu_item_id=item.id) }}';">
        Edit
    </button>
    <button type="button"
            onclick="window.location.href = '{{url_for('menu_item_delete',restaurant_id=restaurant.id, menu_item_id=item.id) }}';">
        Delete
    </button>

    <!--<form method="link" action="{{url_for('menu_item_edit',restaurant_id=restaurant.id, menu_item_id=item.id) }}">-->
        <!--<input type="submit" value="Edit">-->
    <!--</form>-->
    {% endfor %}
    {% endif %}
    <br>
    <a href="{{ url_for('menu_item_new', restaurant_id=restaurant.id)}}">Add a new menu item</a>
</ul>
</body>
</html>