<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new Restaurant</title>
</head>
<body>
<h1>Create a new Restaurant</h1>

<form action="{{url_for('new_restaurant')}}" method="POST">
    <!--<label for="name">Restaurant Name</label>-->
    <label>Restaurant Name
        <input type="text" width="30" name="name" id="name">
    </label>
    <button type="submit" value="Create">Create</button>
    <button type="button" onclick="window.location.href='{{ url_for('restaurants') }}';">Cancel</button>
</form>
</body>
</html>